html, div, body {
	padding: 0;
	margin: 0;
	font-family:'Times New Roman', Times, serif;
	font-size: 16pt;
	padding: 2px;
}

.sidepanel {
	background-color: #fed;
	opacity: 10%;
	border-left: 2px solid #987;
	border-top: 2px solid #987;
	border-bottom: 2px solid #987;
	border-right: none;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	padding: 9px;
	position: fixed;
	top: 5%;
	right: 0;

	transform: translateX(calc(100% - 40px));
	transition: opacity .9s ease .4s, transform .9s ease .4s;
}
.sidepanel:hover {
	transform: translateX(0);

	opacity: 90%;
	transition: opacity .1s linear, transform .1s linear;
}

.left, .right {
	position: fixed;
	top: 0;
	height: 100%;
	overflow-y: scroll;
}
.left {
	background: #333333;
	color: #ffffff;
	width: 40%;
    left: 0;
}
.right {
	width: 59%;
    right: 0;
}
.name, .profession {
        right: 0;
        text-align: center;
}
.name {
	font-size: 24pt;
 }
.profession {
        font-style: italic;
}
.props {
	padding-top: 2em;
	padding-bottom: 2em;
}
.prop {
	text-align: center;
}
a, a:hover, a:active, a:visited {
	color: #ffffff;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.skillstitle {
	font-size: 18pt;
	font-style: italic;
	padding-left: 0.1em;
	margin-left: 0.1em;
	margin-right: 1.5em;
	margin-top: 0.3em;
	margin-bottom: 0.1em;
}.skills {
}
.skill {
	padding-left: 0.3em;
}
.stars {
	position: absolute;
	right: 0.4em;
}
.intro {
        padding-left: 1em;
		padding-right: 1em;
        font-style: italic;
}
.title {
	font-size: 18pt;
	padding-left: 0.3em;
	border-bottom: 2px solid #333333;
	margin-top: 1em;
	margin-bottom: 0.1em;
}
.section {
	margin-bottom: 12px;
	position: relative;
}

.role, .period {
	background: #eeeeee;
	padding-left: 4pt;
	padding-right: 4pt;
}
.role {
	font-weight: bold;
}
.period {
	position: absolute;
	top: 0;
	right: 0;
}
.company {
	padding-left: 12pt;
	font-style: italic;
	margin-bottom: 3pt;
}

.project {
	padding-left: 18pt;
}

