html, div, body {
	z-index: 0;
	padding: 0;
	margin: 0;
	font-family:'Times New Roman', Times, serif;
	font-size: 2.5vw;
}

.sidepanel {
	z-index: 9;
	background-color: #fed;
	opacity: 10%;
	border-left: 2px solid #987;
	border-top: 2px solid #987;
	border-bottom: 2px solid #987;
	border-right: none;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	padding: 9px;
	position: fixed;
	top: 5%;
	right: 0;

	transform: translateX(calc(100% - 20px));
	transition: opacity .9s ease .4s, transform .9s ease .4s;
}
.sidepanel:hover {
	transform: translateX(0);

	opacity: 90%;
	transition: opacity .1s linear, transform .1s linear;
}

.side {
	position: absolute;
	top: 0;
	padding: 1vw;
	margin: 0;
	padding: 0;
}
.side_left {
	width: 40%;
	left: 0;
	background: #333333;
	color: white;
}
.side_right {
	width: 60%;
	right: 0;
	background: #ffffff;
	color: black;
}

.title {
	font-size: 3vw;
	margin-left: 1vw;
}
.section {
	padding: 0 1vw 0 1.0vw;
}
.field {
	padding-left: 1.2vw;
}
.field_name {
	font-size: 5vw;
}
.field_position {
	font-style: italic;
}

.section_title {
	text-align: center;
	margin-bottom: 2vw;
}

.section_contact {
	margin-bottom: 3vw;
}
.section_contact div,
.section_contact a,
.section_contact a:hover,
.section_contact a:active,
.section_contact a:visited {
	color: #ffffff;
}
.field_address {}
.field_phone {}
.field_email {}
.field_github {}
.feature_contact_icon {
	width: 3vw;
	position: relative;
	top: 0.8vw;
	margin-right: 1.3vw;
	margin-left: -1.0vw;
}

.section_skills {
	margin-bottom: 2vw;
}
.field_skills {
	padding: 0;
}
.feature_skill {
	padding-bottom: 1.0vw;
	padding-left: 0.4vw;
}
.feature_black_star {
	color: #333333;
}
.feature_stars {
	position: absolute;
	right: 0.7vw;
}

.section_intro {
	text-indent: 0.5vw;
	text-align: justify;
	margin: 1.0vw 1.1vw 1.0vw 0;
}

.section_experience {

}
.exp_table {
}
.exp_tr {
}
.exp_td_left {
}
.exp_td_right {
}
.field_period {
	height: 100%;
	width: 20%;
}
.field_position {
}
.field_company {
}
.field_expitem {
}
