html, body, div, td, li {
	z-index: 0;
	padding: 0;
	margin: 0;
	font-family:'Times New Roman', Times, serif;
	font-size: 14pt;
}
body {
	background: #333333;
}
.side {
	z-index: 9;
	background-color: #ffeedd;
	opacity: 30%;
	border-left: 2px solid #987;
	border-top: 2px solid #987;
	border-bottom: 2px solid #987;
	border-right: none;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	padding: 9px;
	position: fixed;
	top: 4%;
	right: 0;

	transform: translateX(calc(100% - 20px));
	transition: .9s ease .4s, transform .9s ease .4s;
}
.side:hover {
	transform: translateX(0);

	opacity: 94%;
	transition: opacity .1s linear, transform .1s linear;
}
.side_head_td,
.side_item_td,
.side_item_label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
}
.side_table {
    border-spacing: 12pt 0;
    border-collapse: separate;
}
.side_head_tr {}
.side_head_td {
	text-align: center;
	font-style: italic;
	border-bottom: 1px solid black;
	padding: 0 12pt 0 12pt;
}
.side_item_tr {}
.side_item_td {
	text-align: center;
	padding: 2pt 2pt 0 2pt;
}
.side_item_checkbox {
	width: 15pt;
	height: 15pt;
}
.side_item_label {
	text-align: right;
	padding: 0 2pt 0 0.3pt;
}
.side_item_td_ambigous {
	background: #ffccbb;
}

.column {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
}
.column_left {
	width: 35%;
	left: 0;
	background: #333333;
	color: white;
}
.column_right {
	width: 65%;
	right: 0;
	background: #ffffff;
	color: black;
}

.title {
	font-style: italic;
	font-size: 17pt;
	margin-left: 7pt;
}
.section {
	padding: 0 7pt 0 7pt;
}
.field {}
.field_name {
	font-size: 38pt;
}
.field_position {
	font-style: italic;
	font-size: 18pt;
}
.section_title {
	text-align: center;
	margin-bottom: 18pt;
}
.image {
	position: absolute;
	right: -10pt;
	width: 70pt;
}
.section_contact {
	margin-bottom: 24pt;
}
.section_contact div,
.section_contact a,
.section_contact a:hover,
.section_contact a:active,
.section_contact a:visited {
	color: #ffffff;
	text-decoration: none;
}
.section_contact a:hover,
.section_contact a:active {
	text-decoration: underline;
}
.field_address {}
.field_phone {}
.field_email {}
.field_github {}
.feature_contact_icon {
	width: 20pt;
	position: relative;
	top: 6pt;
	margin-right: 6pt;
	margin-left: 2pt;
}

.section_skills {
	margin-bottom: 16pt;
}
.field_skills {
	padding: 0;
}
.feature_skill {
	padding-bottom: 10pt;
	padding-left: 4pt;
}
.feature_black_star {
	color: #333333;
}
.feature_stars {
	position: absolute;
	right: 7pt;
}

.section_intro {
	text-indent: 3pt;
	text-align: justify;
	margin: 10pt 11pt 10pt 0;
}
.para_intro {
	padding: 0 0 3pt 0;
}

.section_experience {
	margin: 2pt 0 2pt 0;
}
.exp_table, .edu_table {
	width: 100%;
}
.exp_tr, .edu_tr {}
.exp_td_left, .edu_td_left {
	padding: 0 3pt 0 3pt;

	vertical-align: top;
	text-align: center;
	width: 12%;
	min-height: 100%;
}
.exp_td_right, .edu_td_right {
	padding: 0 3pt 2pt 5pt;
}
.exp_heading {
	margin-bottom: 3pt;
}
.field_role {
	font-weight: bold;
}
.field_company {
	font-style: italic;
}
.field_expitem {
	margin-top: 3pt;
}
.exp_ul {
	margin: 0;
	padding: 0 0 0 14pt;
}
.field_expbullet {
	margin-top: 1pt;
	list-style-position: outside;
}
.lang {
	font-family: monospace;
	font-size: 11pt;
	border: 1px solid #cccccc;
	border-radius: 4pt;
	background: #eeeeee;
	color: #666666;
	padding: 0 6pt 0 6pt;
	margin-right: -0.2pt;
}
