html, body, div, td, li {
	z-index: 0;
	padding: 0;
	margin: 0;
	font-family:'Times New Roman', Times, serif;
	font-size: 21pt;
}
body {
	background: #333333;
}
.side {
	z-index: 9;
	background-color: #fed;
	opacity: 10%;
	border-left: 2px solid #987;
	border-top: 2px solid #987;
	border-bottom: 2px solid #987;
	border-right: none;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	padding: 9px;
	position: fixed;
	top: 5%;
	right: 0;

	transform: translateX(calc(100% - 20px));
	transition: .9s ease .4s, transform .9s ease .4s;
}
.side {  /* :hover */
	transform: translateX(0);

	opacity: 94%;
	transition: opacity .1s linear, transform .1s linear;
}
.side_head_td,
.side_item_td,
.side_item_label {
	font-size: 1.2em;
}
.side_table {
    border-spacing: 0 0.4em 0 0.4em;
    border-collapse: separate;
}
.side_head_tr {
}
.side_head_td {
	text-align: center;
	font-style: italic;
	border-bottom: 1px solid black;
	padding: 0 0.4em 0 0.4em;
}
.side_item_tr {
}
.side_item_td {
	text-align: center;
}
.side_item_checkbox {
	width: 1.5em;
	height: 1.5em;
}
.side_item_label {
	text-align: right;
	padding-right: 0.3em;
}

.column {
	position: absolute;
	top: 0;
	padding: 10pt;
	margin: 0;
	padding: 0;
}
.column_left {
	width: 40%;
	left: 0;
	background: #333333;
	color: white;
}
.column_right {
	width: 60%;
	right: 0;
	background: #ffffff;
	color: black;
}

.title {
	font-style: italic;
	font-size: 30pt;
	margin-left: 10pt;
}
.section {
	padding: 0 10pt 0 10pt;
}
.field {}
.field_name {
	font-size: 50pt;
}
.field_position {
	font-style: italic;
	font-size: 28pt;
}
.section_title {
	text-align: center;
	margin-bottom: 20pt;
}
.image {
	position: absolute;
	right: -10pt;
	width: 100pt;
}
.section_contact {
	margin-bottom: 30pt;
}
.section_contact div,
.section_contact a,
.section_contact a:hover,
.section_contact a:active,
.section_contact a:visited {
	color: #ffffff;
	text-decoration: none;
}
.section_contact a:hover,
.section_contact a:active {
	text-decoration: underline;
}
.field_address {}
.field_phone {}
.field_email {}
.field_github {}
.feature_contact_icon {
	width: 25pt;
	position: relative;
	top: 8pt;
	margin-right: 13pt;
	margin-left: 02pt;
}

.section_skills {
	margin-bottom: 20pt;
}
.field_skills {
	padding: 0;
}
.feature_skill {
	padding-bottom: 10pt;
	padding-left: 4pt;
}
.feature_black_star {
	color: #333333;
}
.feature_stars {
	position: absolute;
	right: 7pt;
}

.section_intro {
	text-indent: 5pt;
	text-align: justify;
	margin: 10pt 11pt 10pt 0;
}
.para_intro {}

.section_experience {
	margin: 5pt 0 5pt 0;
}
.exp_table, .edu_table {
	width: 100%;
}
.exp_tr, .edu_tr {}
.exp_td_left, .edu_td_left {
	padding: 0 5pt 0 5pt;

	vertical-align: top;
	width: 12%;
	min-height: 100%;
}
.exp_td_right, .edu_td_right {
	padding: 0 5pt 4pt 9pt;
}
.exp_heading {
	margin-bottom: 10pt;
}
.field_role {
	font-weight: bold;
}
.field_company {
	font-style: italic;
}
.field_expitem {
	margin-top: 5pt;
}
.exp_ul {
	margin: 0;
	padding: 0 0 0 28pt;
}
.field_expbullet {
	margin-top: 2pt;
	list-style-position: outside;
}
.lang {
	font-family: monospace;
	font-size: 15pt;
	border: 1px solid #aaaaaa;
	border-radius: 7pt;
	background: #eeeeee;
	color: #666666;
	padding: 0 6pt 0 6pt;
	margin-right: -0.2pt;
}
