div, body {
	font-family:'Times New Roman', Times, serif; 
	font-size: 16pt;
}

.popup {
	background-color: #fed;
	border-left: 2px solid #987;
	border-top: 2px solid #987;
	border-bottom: 2px solid #987;
	border-right: none;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	padding: 9px;
	position: fixed;
	top: 5%;
	right: 0;
	opacity: 10%;
	transition: opacity .9s ease;
}
.popup:hover {
	opacity: 90%;
	transition: opacity .1s linear;
}

h1 {
	color: #339;
	display: inline;
}

.experience {
	background-color: #eee;
}

.project {
	border-bottom: 2px solid #333;
	padding-bottom: 4px;
}

.workplace {
	font-weight: bold;
	padding-bottom: 12px;
}
